<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Aarogya</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-social.css">
  <link rel="stylesheet" href="css/styles.css">
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand"></p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <!-- 6 -->
          <li id="home"><a href="#">HOME </a></li>
          <li> ...</li>
          <li id="about"><a href="/about"> ABOUT US </a></li>
          <li> ...</li>
          <li id="contact"><a href="/contact"> CONTACT US</a></li>
          <li> ...</li>
          <li id="contact"><a href="/signup"> SIGNUP HERE!</a></li>
        </ul>

      </div>
    </nav>
    <div class="container">

    <div class="image-stack">
      <div class="image-stack__item image-stack__item--bottom">
        <img class="mySlides w3-animate-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQL2DnmRrS4Az5fdp3--j5m28-k4chTJ0CdDQ&usqp=CAU" alt="">
      </div>
      <div class="image-stack__item image-stack__item--top">
        <img  class="mySlides w3-animate-bottom"src="https://183263-537949-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2019/11/doctor-patient-app.jpg" alt="">
      </div>
      <div class="image-stack__item image-stack__item--middle">
        <img class="mySlides w3-animate-top"src="https://www.seoclerk.com/pics/664993-1LcdLn1553177174.png" alt="">
      </div>
      <div class="RandomImg">
        <img src="https://static1.bigstockphoto.com/2/6/3/large1500/362267089.jpg" alt="">
      </div>
      <div class="RandomImg2">
        <img src="https://image.freepik.com/free-vector/cartoon-character-with-professional-doctors-nurses-wearing-protective-suite-standing-together-fight-coronavirus_3559-1498.jpg" alt="">
      </div>
      <div class="button_cont" align="center"><a class="example_f" href="/LogIn"  rel="nofollow"><span>Log In</a></div>
    </div>
    </div>
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 100" preserveAspectRatio="none">
      <circle fill="white" cx="0" cy="100" r="100" />
      <circle fill="white" cx="200" cy="100" r="100" />

    </svg>
  </header>
<body>
  <div class="container">
