<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Login</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="js/script.js"></script>
  </head>
<body class="bodyMade">
  <div>
    <div>


      <div class="card-body">
        <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">

      <span class="fa fa-google"></span> Log in with Google
       </a>
      </div>

    </div>
  </div>
  <div class="login-page2">
    <h1>Login</h1>
    <div class="textbox2">
      <form class="" action="/LogIn" method="post">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <input placeholder="Email Id" type="email" name="username">
      </div>
      <div class="textbox2">
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input type="password" id="pass" placeholder="password" name="password">
      </div>
      <button id="btn2" onclick="buttonclick()">Login</button>
      </form>

  </div>



  </div>

  <script src="js/jquery-1.11.3.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
</body>
</html>
