<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign up</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap-social.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="js/script.js"></script>

  </head>

  <body class="bodyCustom">
    <div class="login-page">
      <div>
        <div>


          <div class="card-body">
            <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">

          <span class="fa fa-google"></span> Sign up with Google
           </a>
          </div>

        </div>
      </div>


      <h1>Sign up</h1>
      <div class="textbox">
        <form class="" action="/Signup" method="post">

        </div>
        <div class="textbox">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <input placeholder="Email Id" type="email" name="username">
        </div>
        <div class="textbox">
          <i class="fa fa-lock" aria-hidden="true"></i>
          <input type="password" id="pass" placeholder="password" name="password">
        </div>
        <button id="btn" onclick="buttonclick()">Sign me up!</button>
        </form>

    </div>





    </div>




    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>

  </body>

  <footer>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Add font awesome icons -->
  <a href="#" class="fa fa-facebook"></a>
  <a href="#" class="fa fa-twitter"></a>
  <a href="#" class="fa fa-youtube"></a>
  </footer>

</html>
